.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.CreateSession {
  background-color: #FFFFFF;
  color: #4D4D4D;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  text-align: center;
  padding: 5vh 20vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.CreateSession > h2{
  text-align: left;
  /*justify-content: left;*/
}

.input-box{
  width: 70%;
  height: 5em;
  background: #F8F8F8;
  border-radius: 1em;
  border-color: transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
