.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container{
  background-color: #FFFFFF;
  color: #4D4D4D;
  /*display: flex;*/
  flex-direction: column;
  padding: 5vh 20vh;  
  height: 90vh; 
  width: calc(100vw-20vh*2);
}

/*Create Session Page CSS*/

.CreateSession {
  /*align-items: center;*/
  /*justify-content: center;*/
  text-align: center;
  padding: 5vh 20vh;
  font-size: calc(10px + 2vmin);
  /*color: black;*/
  font-weight: bold;
}

.CreateSession > h2{
  text-align: left;
  padding-bottom: 1em;
  /*justify-content: left;*/
}

.CreateSession .submit-button{
  background: #C5F9CA;
  border-radius: 15px;
  width: 30%;
  height: 2em;
  font-size: 1em;
  font-weight: bold;
  border-color: transparent;
}

.input-box{
  width: 70%;
  height: 3em;
  background: #F8F8F8;
  border-radius: 15px;
  border-color: transparent;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding-left: 1em;
}

/*Main Page CSS*/



.Main{
  /*overflow: scroll;*/

}


.tree {
  border-collapse: collapse;
  margin-left: 1em;
}

/*td, th {
  border-left: 0.3em solid #8A99E7;
  text-align: left;
  padding: 8px;
}*/
.tree-node {
  /*text-align: left;*/
  /*height: 4em;*/
  /*width: 25em;*/
  /*border: 5px solid red;*/
  /*margin-left:  -5em;*/
}

.tree-node-container {
  text-align: left;
  /*height: 4em;*/
  width: 20em;
  padding: 0.2em 1em;
  margin: 0.5em 0em;
  border: 1px solid #8A99E7;
  box-sizing: border-box;
  border-radius: 15px;
  /*margin-left:  -5em;*/
}


.tree-top {
  border-left: 0.3em solid #8A99E7;
  height: 4em;
}

.tree-bot {
  border-left: 0.3em solid #8A99E7;
  /* height: 4em; */
  /*width: 65em;*/
  border-top: 0.3em solid #8A99E7;
}

.discussion{
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 24px;
  height: 100%;
  /* height: 100vh;
  width: 100vw; */
  overflow: hidden;
}
.discussion-title{
  background-color: white;
  border: none;
  color: #8A99E7;
  margin:0px 0px 40px 0px;
}

.discussion-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
  overflow-y: scroll;
  overflow-x: hidden;
  margin:0px 0px 40px 0px;
  flex: 1;
}

.discussion-box{
  position: relative;
  display: flex;
  flex-direction: column;
  /* max-width: 300px;
  min-width: 300px; */
  width: 300px;
  border-radius: 9px;
  border: 3px solid #8A99E7;
  padding: 24px;
  padding-bottom: 15px;
  margin: 20px 15px 20px 0px;
  justify-content: space-between;  
}

.correct-answer-box {
  border: 3px solid #87DEBF;
}

.box-content{
  align-self: flex-start;
  margin-bottom: 12px;
  font-size: medium;
  font-weight: 600;
}
.box-name{
  align-self: flex-end;
  font-size: 18px;
  margin-bottom: 10px;
  font-size: medium;
  font-weight: 700;
}
.box-vote{
  display: flex;
  align-self: flex-end;
}

.discussion-textbox{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  /* left: 11vw; */
  /* bottom: 10vw; */
  padding: 4px;
  
}
.discussion-textarea{
  flex: 1;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 18px;
  height: 60px;
  resize: none;
}
.discussion-submit{
  width: 100px;
  margin-left: 14px;
  font-weight: bold;
  font-size: 24px;
  border: 3px solid #8A99E7;
  border-radius: 9px;
  background-color: white;
  color:#8A99E7;
  text-align: center;
  padding: 14px 0px 0px 0px;
  cursor: pointer;
  transition: 0.2s;
}

.discussion-submit:hover {
  transform: scale(1.03);
}

.thumb {
  height: 30px;
  width: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
